.grisnav {
    background-color: #D5D5D5 ;
}

.centre {
    text-align: center;
}

.navcolle {
    position:fixed;
     top:0; 
     background-attachment: fixed;
}

.centered-elements{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

}
   .centered-element {
    
    margin: 5px 80px 50px;
}
.rouge {
    background-color: red;
}

.vert {
    background-color: green;
}

.bleu {
    background-color: blue;
}

.violet {
    background-color: purple ;
}

.jaune{
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.rose {
    background-color: pink;
}

.bordgrid {
    border-radius: 50% 20% / 10% 40%;

}



.bord {
    border-radius: 30px;
}

.bords {
    border-radius: 20px;
}

#survol {
    cursor: pointer;
    padding: 5px 15px;
    transition: all 0.2s ease;
}

#survol:hover {
    transform: translateY(-10px);
}




.hr {
    border: none;
    border-top: 5px double black ;
    color: black ;
    overflow: visible;
    text-align: center;
    height: 20px;
  }
  
  hr::after {
    background: black;
    padding: 0 4px;
    position: relative;
    top: -13px;
  }






  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
    background-color: white;
    z-index: 1;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: none ;
    z-index: 1;
}

main {
    width: 100%;
    line-height: 2rem;
    font-size: 20px;
    height: 100vh;
    overflow: auto;
    padding: 3rem 2vw;
    text-align: justify;
}

main::-webkit-scrollbar {
    background-color: #dedede;
    width: 0.5rem;
}
main::-webkit-scrollbar-thumb {
    background-color: #757575;
}

h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.nav-latteral {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    z-index: 3;
    height: 100vh;
    width: max-content;
    transition: all 0.5s ease;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}

#nav-wrapper.active {
    display: block;
}

#nav-close {
    margin-bottom: 4rem;
}

.nav-links {
    padding: 1rem 6rem 1rem 3rem;
}

.nav-link {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
   
}

.nav-link:hover {
    color: lightcoral;
}

.nav-link ion-icon {
    margin-right: 15px;
}

.nav-link,
.nav-button {
    transition: all 0.2s ease;
}

.nav-button {
    font-size: 40px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.nav-button:hover {
    color: #1D2790;
    background-color: #dedede;
}



.bouton { background-color: transparent ;
width: 200px;
height: 70px;
border-color: transparent;

}
















  
  code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  

.caca {
    margin: -36.5rem 0rem;
}


  .nft{
    user-select:none;
    max-width: 400px;
    margin: 0rem 55rem;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: .5s all;
    border: 0.2rem solid;
    hr{
      width: 100%;
      border: none;
      border-bottom: 1px solid #88888855;
      margin-top: 0;
    }
    ins{
      text-decoration: none;
    }
    .main{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 1rem;
      .tokenImage{
        border-radius: .5rem;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .description{
        margin: .5rem 0;
        color: #a89ec9;
      }
      .tokenInfo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price{
          display: flex;
          align-items: center;
          color: #ee83e5;
          font-weight: 700;
          ins{
            margin-left: -.3rem;
            margin-right: .5rem;
          }
        }
        .duration{
          display: flex;
          align-items: center;
          color: #a89ec9;
          margin-right: .2rem;
          ins{
            margin: .5rem;
            margin-bottom: .4rem;
          }
        }
      }
      .creator{
        display: flex;
        align-items: center;
        margin-top: .2rem;
        margin-bottom: -.3rem;
        ins{
          color: #a89ec9;
          text-decoration: none;
        }
        .wrapper{
          display: flex;
          align-items: center;
          border: 1px solid #ffffff22;
          padding: .3rem;
          margin: 0;
          margin-right: .5rem;
          border-radius: 100%;
          box-shadow: inset 0 0 0 4px #000000aa;
          img{
            border-radius: 100%;
            border: 1px solid #ffffff22;
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            margin: 0;
          }
        }
      }
    }
    ::before{
      position: fixed;
      content: "";
      box-shadow: 0 0 100px 40px #ffffff08;
      top: -10%;
      left: -100%;
      transform: rotate(-45deg);
      height: 60rem;
      transition: .7s all;
    }
    &:hover{
      border: 1px solid #ffffff44;
      box-shadow: 0 7px 50px 10px #000000aa;
      transform: scale(1.015);
      filter: brightness(1.3);
      ::before{
        filter: brightness(.5);
        top: -100%;
        left: 200%;
      }
    }
  }
  
  


  .imgg {
	display: block;
	width: 100%;
}

.h22 {
	margin: 0;
	font-size: 1.4rem;
}



.cta {
	--shadowColor: 187 60% 40%;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
	max-width: 50rem;
	width: 60%;
	
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.2rem solid;


:before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 80rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 5px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 100%;
    }
  }
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 200px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
}

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
    box-shadow: 0 7px 20px 5px #00000088;
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}


.pcolor {
    color: #a89ec9;
}

































































a {
    outline: none;
    text-decoration: none;
}

a:link {
        color: black; }

 a:visited {
            color: black;      }  

 a:hover {
                color: lightcoral; }




            


